<body>
    <h1><font color='SlateBlue'><center>BDAT 1004 - Problem Set 2</center></font></h1>
    <p>
        <strong>Student:</strong> Lais Assini Cavalheiro<br>
        <strong>Student ID:</strong> 20558473<br><br>
    </p>
</body>

<body>
    <h3><font color='SlateBlue'>Question 1</font></h3>
    <p>Consider the following Python module:</p>
<samp>
    a = 0<br>        
    def b():
        global a
        a = c(a)<br>        
    def c(a):
        return a + 2
</samp>    
    <p>After importing the module into the interpreter, you execute: </p>
<samp>
    >>> b()
    >>> b() 
    >>> b() 
    >>> a 
    ? 
</samp>
    <p>What value is displayed when the last expression <var>(a)</var> is evaluated? Explain your answer by indicating what happens in every executed statement. </p>

</body>

In [96]:
#My answer (code = question 1)

a = 0
        
def b():
    global a   
    a = c(a)    
        
def c(a):
    return a + 2

b() #a=2
b() #a=4
b() #a=6
print(a)

6

<body>
    <p><font color='SlateBlue'><b>My answer (explanation - question 1)</b></font></p>
<p>
    The displayed value is 6.<br><br>
    The function <var>b()</var> calls the global variable <var>a</var> and the another function called <var>c(a)</var> which means that whenever <var>b()</var> is used, <var>c(a)</var> will also be used, modifying the value of <var>a</var>.<br><br>
    <em>Step by step:</em>
</p>
<ul>
    <li>First <var>b()</var> => a=0; a=c(0); then 0+2=2 => a=2</li>
    <li>Second <var>b()</var> => a=2; a=c(2); then 2+2=4 => a=4</li>
    <li>Third <var>b()</var> => a=4; a=c(4); then 4+2=5 => a=6</li>
    <li>At last but not least, we call the variable <var>a</var> which is 6 now, after all previous executed statement.</li>
</ul>
</body>

<body>
    <h3><font color='SlateBlue'>Question 2</font></h3>
    <p>Function <var>fileLength()</var>, given to you, takes the name of a file as input and returns the length of the file: </p>
<samp>
    >>> fileLength('midterm.py') 
    284 
    >>> fileLength('idterm.py') 
    Traceback (most recent call last):   
        File "< pyshell#34 >", line 1, in < module >
            fileLength('idterm.py')
        File "/Users/me/midterm.py", line 3, in fileLength     
            infile = open(filename) 
    FileNotFoundError: [Errno 2] No such file or directory: 
    'idterm.py' 
</samp>  
    <p>As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:</p>
<samp>
    >>> fileLength('midterm.py') 
    358 
    >>> fileLength('idterm.py') 
    File idterm.py not found. 
</samp>


</body>

In [97]:
#My answer 

def fileLength(FileName):    
    try:
        infile = open(FileName)
        file_open = infile.read()
        print(len(file_open))
        
    except FileNotFoundError:
        print(f"File {FileName} not found.")

fileLength('Filelength(1).txt')
fileLength('Filelength.txt')

123
File Filelength.txt not found.

<body>
    <h3><font color='SlateBlue'>Question 3</font></h3>
    <p>Write a class named <var>Marsupial()</var> that can be used as shown below:</p>
<samp>
    >>> m = Marsupial() 
    >>> m.put_in_pouch('doll') 
    >>> m.put_in_pouch('firetruck') 
    >>> m.put_in_pouch('kitten') 
    >>> m.pouch_contents() 
    ['doll', 'firetruck', 'kitten'] 
</samp>  
    <p>Now write a class named Kangaroo as a subclass of <var>Marsupial</var> that inherits all the attributes of <var>Marsupial</var> and also:</p>
    <ol>
        <li><em>extends</em> the <var>Marsupial __init__</var> constructor to take, as input, the coordinates x and y of the Kangaroo object,</li>
        <li><em>supports</em> method <var>jump</var> that takes number values <var>dx</var> and <var>dy</var> as input and moves the kangaroo by <var>dx</var> units along the x-axis and by <var>dy</var> units along the yaxis, and</li>
        <li><em>overloads</em> the <var>__str__</var> operator so it behaves as shown below.</li>
    </ol>    
<samp>
    >>> k = Kangaroo(0,0) 
    >>> print(k) 
    I am a Kangaroo located at coordinates (0,0) 
    >>> k.put_in_pouch('doll') 
    >>> k.put_in_pouch('firetruck') 
    >>> k.put_in_pouch('kitten') 
    >>> k.pouch_contents() 
    ['doll', 'firetruck', 'kitten'] 
    >>> k.jump(1,0) 
    >>> k.jump(1,0) 
    >>> k.jump(1,0) 
    >>> print(k) 
    I am a Kangaroo located at coordinates (3,0)
</samp>
</body>

In [99]:
#My answer

class Marsupial:
    
    def __init__(self):     #the super method
        self.pouch_contents = []

    def put_in_pouch(self, item):
        self.pouch_contents.append(item)
        
    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    
    def __init__(self, x=0, y=0): #extending the super method
        super().__init__()      #calling Super method
        self.x = x
        self.y = y
       
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})\n" 

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck') 
m.put_in_pouch('kitten') 
print(m.pouch_contents,"\n")

k = Kangaroo(0, 0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
print(k.pouch_contents,"\n")  

k.jump(1,0) 
k.jump(1,0) 
k.jump(1,0) 
print(k)

['doll', 'firetruck', 'kitten']

I am a Kangaroo located at coordinates (0, 0)

['doll', 'firetruck', 'kitten']

I am a Kangaroo located at coordinates (3, 0)

<body>
    <h3><font color='SlateBlue'>Question 4</font></h3>
    <p>Write function <var>collatz()</var> that takes a positive integer <var>x</var> as input and prints the Collatz sequence starting at <var>x</var>. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: </p>
<samp>
    x = 𝑥/2       => 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 
    x = 3𝑥+1      => 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
</samp>  
    <p>Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops. </p>    
<samp>
    >>> collatz(1) 
    1 
    >>> collatz(10) 
    10 
    5 
    16 
    8 
    4 
    2 
    1
</samp>
</body>

In [21]:
#My answer

def collatz(x):
    print(x)
    while x!=1:
        if(x % 2 == 0):
            x = x/2            
            print(int(x))
        else:
            x = 3*x+1
            print(int(x))


print(">>> collatz(1)")
collatz(1)

print(">>> collatz(10)")
collatz(10)

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

<body>
    <h3><font color='SlateBlue'>Question 5</font></h3>
    <p>Write a recursive method <var>binary()</var> that takes a non-negative integer <var>n</var> and prints the binary representation of integer <var>n</var>.  </p>
<samp>
    >>> binary(0) 
    0 
    >>> binary(1) 
    1 
    >>> binary(3) 
    11 
    >>> binary(9) 
    1001
</samp>  

</body>

In [25]:
#My answer

def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n//2)
        print(n % 2, end='')

print('>>> binary(0)')
binary(0)

print('\n\n>>> binary(1)')
binary(1)

print('\n\n>>> binary(3)')
binary(3)

print('\n\n>>> binary(9)')
binary(9)

>>> binary(0)
0

>>> binary(1)
1

>>> binary(3)
11

>>> binary(9)
1001

<body>
    <h3><font color='SlateBlue'>Question 8</font></h3>
    <p>Write SQL queries on the below database table that return:</p>  
    <ol>
        <li>All the temperature data.</li>
        <li>All the cities, but without repetition.</li>
        <li>All the records for India.</li>
        <li>All the Fall records. </li>
        <li>The city, country, and season for which the average rainfall is between 200 and 400 millimeters.</li>
        <li>The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.</li>
        <li>The total annual rainfall for Cairo.</li>
        <li>The total rainfall for each season.</li>
    </ol>

<img src="table_exe8.png" width="450" height="550">
</body>

In [79]:
#My answer (ENTIRE TABLE)

import sqlite3

connection = sqlite3.connect('table_cities.db')
cursor = connection.cursor()
connection = cursor.execute("CREATE TABLE Keywords (City text, Country text, Season text, Temperature float, Rainfall float)")

rows = [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India','Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4,218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7,6.5), ('Cairo', 'Egypt', 'Summer', 27.7,0.1), ('Cairo', 'Egypt','Fall', 22.2,4.5)]

for row in rows:
    cursor.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)", (row[0], row[1], row[2], row[3], row[4]))
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [80]:
#My answer (All the temperature data)

cursor.execute('SELECT Temperature FROM Keywords')

for temp in cursor:
    print(temp)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [81]:
#My answer (All the cities, but without repetition)

cursor.execute('SELECT City FROM Keywords')

tempTable = []

for city in cursor:
    if city in tempTable:
        continue
    else:
        tempTable.append(city)
    print(city)

('Mumbai',)
('London',)
('Cairo',)

In [82]:
#My answer (All the records for India)

word = 'India'
cursor.execute('SELECT * FROM Keywords WHERE Country = ?', (word,))
result = cursor.fetchall()

for x in result:
      print(x)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [83]:
#My answer (All the Fall records)

word = 'Fall'
cursor.execute('SELECT * FROM Keywords WHERE Season = ?', (word,))
result = cursor.fetchall()

for x in result:
      print(x)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [84]:
#My answer (The city, country, and season for which the average rainfall is between 200 and 400 millimeters)

cursor.execute('SELECT City, Country, Season FROM Keywords WHERE Rainfall > 200 AND Rainfall < 400')
result = cursor.fetchall()

for x in result:
      print(x)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [85]:
#My answer (The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order)

word = 'Fall'
cursor.execute('SELECT City, Country FROM Keywords WHERE Season = ? AND Temperature > 20 ORDER BY Temperature', (word, ))
result = cursor.fetchall()

for x in result:    
      print(x)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [92]:
#My answer (The total annual rainfall for Cairo)

word = 'Cairo'
cursor.execute('SELECT SUM(Rainfall) FROM Keywords WHERE City = ?', (word, ))
print(f'The total annual rainfall for Cairo is {cursor.fetchall()}')

The total annual rainfall for Cairo is [(27.6,)]

In [90]:
#My answer (The total rainfall for each season)

word1 = 'Fall'
word2 = 'Winter'
word3 = 'Spring'
word4 = 'Summer'

cursor.execute('SELECT SUM(Rainfall) FROM Keywords WHERE Season = ?', (word1, ))
print(f'The total rainfall for {word1} is {cursor.fetchall()}')
        
cursor.execute('SELECT SUM(Rainfall) FROM Keywords WHERE Season = ?', (word2, ))
print(f'The total rainfall for {word2} is {cursor.fetchall()}')
        
cursor.execute('SELECT SUM(Rainfall) FROM Keywords WHERE Season = ?', (word3, ))
print(f'The total rainfall for {word3} is {cursor.fetchall()}')
        
cursor.execute('SELECT SUM(Rainfall) FROM Keywords WHERE Season = ?', (word4, ))
print(f'The total rainfall for {word4} is {cursor.fetchall()}')

The total rainfall for Fall is [(569.0,)]
The total rainfall for Winter is [(230.1,)]
The total rainfall for Spring is [(192.29999999999998,)]
The total rainfall for Summer is [(1706.5,)]

<body>
    <h3><font color='SlateBlue'>Question 9</font></h3>
    <p> Suppose list words is defined as follows:</p>
<samp>>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']</samp>  
    <p> Write list comprehension expressions that use list words and generate the following lists:</p>
    <ol>
        <li><samp>['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']</samp></li>
        <li><samp>['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']</samp></li>
        <li><samp>[3, 5, 5, 3, 5, 4, 3, 4, 3]</samp> (the list of lengths of words in list words)</li>
        <li><samp>[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]</samp> (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)</li>
        <li><samp>['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']</samp> (the list of words in list words containing 4 or more characters.) </li>           
    </ol>
</body>

In [32]:
#My answer

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

WordsUpper = [word.upper() for word in words]
print('Upper:\n',WordsUpper)

WordsLower = [word.lower() for word in words]
print('\nLower:\n',WordsLower)

WordsLen = [len(word) for word in words]
print('\nLength:\n',WordsLen)

WordsMix = [[word.upper(), word.lower(), len(word)] for word in words]
print('\nUpper, lower, length:\n',WordsMix)

Words4 = [word for word in words if len(word)>=4]
print('\nWords which length is equal or greater 4;\n',Words4)

Upper:
 ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

Lower:
 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Length:
 [3, 5, 5, 3, 5, 4, 3, 4, 3]

Upper, lower, length:
 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

Words which length is equal or greater 4;
 ['quick', 'brown', 'jumps', 'over', 'lazy']